.home {
    display: flex;
    text-align: center;
    color: white;
    min-height: 100vh;
  }
  
.logo {
    height: 40vmin;
    pointer-events: none;
}
  
  
.logo {
    animation:  infinite 20s linear;
}

  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
  