.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login a{
    color: black;
    text-decoration: none;
}
.login a:hover {
    transform: scale(1.05);
  }

.login_container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px;
}
.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login_container > form > h5{
    margin-bottom: 5px;
}

.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login_container > p{
    margin-top: 15px;
    font-size: 12px;
}

.login_signInButton {
    background-color: #f4f41d;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.login_registerButton{
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}

.login_signInButton:hover,
.login_registerButton:hover{
    border: 1px solid;
}