.navbar {
    height: 40;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1e1c1c;
    border: 1px solid;
    z-index: 100;
    justify-content: space-between;
    margin: 10px;
}

.navbar_logo{
    font-size: large;
    margin: 8px;
    font-weight: bold;
    color: gray;
}

.navbar_logo > .hack_for{
    color: rgb(63, 113, 241);
}
.navbar_logo > .good{
    color: rgb(0, 159, 0);
}
.navbar_logo > ._2023{
    color: orange;
}

.navbar_links{
    display: flex;
}

.navbar_link{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar_links a {
    text-decoration: none;
}
.navbar_links a:hover{
    transform: scale(1.05);
}