.navbar {
    height: 40;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1e1c1c;
    border: 1px solid;
    z-index: 100;
    justify-content: space-between;
    margin: 10px;
}

.header_logo{
    font-size: large;
    margin: 8px;
    font-weight: bold;
    color: gray;
}

.header_logo > .hack_for{
    color: rgb(0, 72, 255);
}
.header_logo > .good{
    color: rgb(0, 159, 0);
}
.header_logo > ._2023{
    color: orange;
}

.header_links{
    display: flex;
    color: white;
}

.header_link{
    margin-left: 10px;
    margin-right: 10px;
}